#b-countdown {
    position: absolute;
    display: flex;

    top: 6rem;
    left: 1rem;
    right: 1rem;
    bottom: 6rem;

    padding: 1rem;
    justify-content: center;
    align-items: center;

    p {
        font-size: 2rem;
        font-family: OpenSans-Bold, sans-serif;
        position: absolute;
        padding-bottom: 5rem;
    }

    div {
        span {
            font-size: 1.5rem;
            font-family: OpenSans-Semibold, sans-serif;
            padding: 1rem;
        }
    }
}