#error {
    position: absolute;
    top: 6rem; bottom: 6rem;
    left: 1rem; right: 1rem;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    * {
        padding: 0;
        margin: 0.5rem;
    }

    h1 {
        color: var(--foreground3);
        font-family: OpenSans-ExtraBold, sans-serif;
        font-size: 2.5rem;
    }

    h2 {
        color: var(--foreground2);
        font-family: OpenSans-Semibold, sans-serif;
        font-size: 1.5rem;
    }

    h3 {
        color: var(--foreground);
        margin-top: 1rem;
        font-family: OpenSans-Regular, sans-serif;
        font-size: 1.25rem;
    }

    span {
        margin: 0 !important;
        padding: 0 !important;
    }
}