body {
    background: black;

    .header-overlay {
        position: absolute;
        width: 100%;
        height: calc(100% + 5rem);
        top: 0;
        backdrop-filter: blur(64px);
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            user-select: none;
            font-size: 5rem;
            color: white;
            margin-bottom: 10rem;
            animation: transformTitle 5s linear;
            text-shadow: 0 0 8px white;
        }

        h1:hover {
            font-size: 5.5rem;
            margin-bottom: 11rem;
            color: #ffc0c0;
            text-shadow: 0 0 8px #ffc0c0;
            animation: transformRadial 10s linear;
        }

        .buttons {
            user-select: none;
            position: absolute;
            animation: transformButtons 3s linear;

            .button {
                user-select: none;
                background: var(--background2);
                padding: 1rem 2rem;
                margin: 0.5rem;
                border-radius: 1rem;
                border: 1px solid var(--background);
                text-decoration: none;
            }

            .button:hover {
                user-select: none;
                cursor: pointer;
                border: 1px solid #ffc0c0;
                color: #ffc0c0;
                background: var(--background);
                animation: transformRadial 10s linear infinite;
            }
        }
    }

    .header {
        background: radial-gradient(black,black,red,black,black,black);
    }
}

@keyframes transformTitle {
    0% {
        color: black !important;
        text-shadow: 0 0 8px black !important;
        filter: hue-rotate(0deg) !important;
    }

    50% {
        color: #ffd1d1 !important;
        filter: hue-rotate(360deg) !important;
    }

    100% {
        color: #ffffff !important;
        text-shadow: 0 0 8px white !important;
        filter: hue-rotate(0deg) !important;
    }
}

@keyframes transformButtons {
    0% {
        opacity: 0;
    }

    99 % {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}