:root {
    --background: #201a1a;
    --background2: #0e0c0c;
    --foreground: #d6d6d6;
    --foreground2: white;
    --accent: #ec3232;
    --accent-trans: #ec323275;
    --accent2: #5a32ec;
    --accent3: #6cff96;
    --accent4: #ff00c1;

    --menu: #171414;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--accent-trans);
    color: white;
}

* {
    color: var(--foreground);
    background: none;
    margin: 0;
    padding: 0;
    transition: all 0.25s linear;
}

body {
    background: var(--background);
    display: flex;
    flex-direction: column;

    font-family: OpenSans-Regular, sans-serif;

    #menu {
        align-self: center;
        position: fixed;
        height: 2.75rem;
        padding: 1rem;
        width: calc(100% - 4rem);
        margin: 1rem;
        max-width: 80rem;
        background: var(--menu);
        animation: transformCorners 64s linear infinite;
        box-shadow: 0 0 0.3rem black;
        img {
            height: 100%;
            margin-left: 2rem;
        }
    }
}

@keyframes transformCorners {
    0% {
        border-radius: 4rem 1rem 4rem 1rem;
    }

    50% {
        border-radius: 1rem 4rem 1rem 4rem;
    }

    100% {
        border-radius: 4rem 1rem 4rem 1rem;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    text-decoration: none;
    opacity: 0.5;
}

.footer:hover {
    opacity: 1;
}